app = "cat-and-ball"
primary_region = "lhr"

[build]

[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = "stop"
auto_start_machines = true
min_machines_running = 1

[[http_service.checks]]
grace_period = "10s"
interval = "15s"
timeout = "5s"
method = "GET"
path = "/health"

[[vm]]
memory = "256mb"
cpu_kind = "shared"
cpus = 1

[env]
PORT = "8080"
ENABLE_DEBUG = "true"
PRODUCTION = "true"
NODE_ENV = "production"
